<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %} Totally illegal Nikita's audio library {% endblock %}
    </title>
</head>

<body>
    <header>
        {% block header %}
        <h1>Totally illegal Nikita's audio library</h1>
        {% endblock %}
    </header>

    <div>
        {% block content %}
        There should be some content, but there isn't. Probably something went
        wrong with pattern inheritance, but I can't be sure. Report this to
        widauka@ya.ru so I can fix it.
        {% endblock %}
    </div>
</body>
</html>