{% extends "base.html" %}
{% load static %}


{% block content %}
{% for track in tracks %}

<figure>
    <figcaption>
        <a href="{% url 'author' track.author %}">
            {{ track.author }}
        </a>
        -
        <a href="{% url 'track' track.author track.name %}">
            {{ track.name }}
        </a>
    </figcaption>
    <audio controls src="{{ track.file.url }}">
        Your browser does not support the <code>audio</code> element.
    </audio>
</figure>

{% endfor %}
{% endblock %}
