{% extends "base.html" %}
{% load static %}


{% block additional_headers %}
    <link rel="stylesheet" href="{% static 'styles/player.css' %}" />
{% endblock %}


{% block content %}
    <div id="app">
        <figure id="player">
            <figcaption>
                [[ current_track?.author ]] - [[ current_track?.name ]]
            </figcaption>
            <audio :autoplay="is_playing" controls :src="current_track?.file" @ended="next_track">
                Your browser does not support the <code>audio</code> element.
            </audio>
        </figure>

        <ul>
            <li :class="{ active_selector: current_track == track }"
                @click="set_track(track)"
                class="track_selector"
                v-for="track in tracks">
                [[ track.author ]] - [[ track.name ]]
            </li>
        </ul>
    </div>

    <script>
        const app = {
            compilerOptions: {
                delimiters: ['[[', ']]']
            },

            data() {
                return {
                    current_track: null,
                    tracks: [],
                    is_playing: false,
                }
            },

            mounted() {
                axios.get('/api/tracks')
                    .then(response => {this.tracks = response.data.tracks})
            },

            methods: {
                set_track(track) {
                    this.current_track = track
                    this.is_playing = true
                },

                next_track() {
                    let next_i = this.tracks.indexOf(this.current_track) + 1
                    if (next_i < this.tracks.length) {
                        this.current_track = this.tracks[next_i]
                    }
                },
            },
        }

        Vue.createApp(app).mount("#app")
    </script>

{% endblock %}
